In [2]:
import pandas as pd
import nltk

In [6]:
df=pd.read_excel(r"D:\Thesis\Ner\Dataset\author_random_sentence\zahir_rayhan_random.xlsx")
df

                                                  sent
0     এখন কেমন লাগছে আপনার? একে-একে বিশ্রামাগারে যা...
1      মনসুর সাহেবসহ কত জায়গায় খুঁজেছি আপনাকে, শে...
2      লিলি ঝুঁকে পড়ে আবার জিজ্ঞেস করলো, কেমল লাগছ...
3      কেন এমন হলো? কেন তারা মারা গেল? সারা বুক যন্...
4      মা, বাবা, মরিয়ম, হাসিনা, দুলু, খোকন–একে একে...
..                                                 ...
655    তাই সকলের ঘুম ভেঙ্গে ওঠার আগে বেরিয়ে যায়–আ...
656    খোকন ফুটবলটা দুহাতে বুকে জড়িয়ে ধরে প্রশ্ন ...
657    জীবনে কত মানুষ দেখলাম, এমন নম্র আর ভদ্র ছেলে...
658    অসুখ-টসুখ করে নি তো ওর? বাবা বলেন, আসবে, বোধ...
659    কোনদিন ও না এলে মা চিন্তিত হয়ে শুধায়, কিরে...

[660 rows x 1 columns]

In [4]:
df1=df['sent']

In [5]:
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
token=[]
sent=[]
tag=[]
sentcount=0
for i in df1:
    words=word_tokenize(i)
    sentcount=sentcount+1
    for j in range(len(words)):
        token.append(words[j])
        tag.append('O')
        sent.append(f'sentence:{sentcount}')
        #else:sent.append('NaN')
df2=pd.DataFrame(token)
df2.columns=['word']
df3 = pd.DataFrame(sent)
df3.columns=['Sentence #']
df4 = pd.DataFrame(tag)
df4.columns=['Tag']
df3

         Sentence #
0        sentence:1
1        sentence:1
2        sentence:1
3        sentence:1
4        sentence:1
...             ...
12236  sentence:660
12237  sentence:660
12238  sentence:660
12239  sentence:660
12240  sentence:660

[12241 rows x 1 columns]

In [86]:
df=pd.concat([df3,df2,df4],axis=1)
df

         Sentence #     word Tag
0        sentence:1      এখন   O
1        sentence:1     কেমন   O
2        sentence:1    লাগছে   O
3        sentence:1    আপনার   O
4        sentence:1        ?   O
...             ...      ...  ..
12236  sentence:660  মনসুরটা   O
12237  sentence:660       তো   O
12238  sentence:660       আজ   O
12239  sentence:660      এলো   O
12240  sentence:660       না   O

[12241 rows x 3 columns]

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm, trange

df = pd.read_csv("annotated dataset full new.csv")
df.head(10)

    Sentence #      Word    Tag
0  Sentence: 1    নিশাকর  B-PER
1  Sentence: 1     বলিতে      O
2  Sentence: 1   লাগিলেন      O
3  Sentence: 1         ,      O
4  Sentence: 1         “      O
5  Sentence: 1     আপনার      O
6  Sentence: 1    ভার্যা      O
7  Sentence: 1     আমাকে      O
8  Sentence: 1  বিষয়গুলি      O
9  Sentence: 1    পত্তনি      O

In [10]:
from sklearn.model_selection import train_test_split

# Let's say we want to split the data in 80:10:10 for train:valid:test dataset
train_size=0.8

X = df['Word']
y = df['Tag']

# In the first step we will split the data in training and remaining dataset
X_train, X_rem, y_train, y_rem = train_test_split(X,y, train_size=0.8)

# Now since we want the valid and test size to be equal (10% each of overall data). 
# we have to define valid_size=0.5 (that is 50% of remaining data)
test_size = 0.5
X_valid, X_test, y_valid, y_test = train_test_split(X_rem,y_rem, test_size=0.5)

print(X_train.shape), print(y_train.shape)
print(X_valid.shape), print(y_valid.shape)
print(X_test.shape), print(y_test.shape)
print(X_train)

(520239,)
(520239,)
(65030,)
(65030,)
(65030,)
(65030,)
620290          চেয়ে
506305      আনিয়েচিস
328049    মিস্ত্রিকে
171981           কেন
103498             ,
             ...
411492       দাঁড়ালে
396636            পর
323853         পাঠায়
429974            পর
293362        আপত্তি
Name: Word, Length: 520239, dtype: object

In [7]:
tr1  = pd.DataFrame(X_train)
tr2  = pd.DataFrame(y_train)
#tr1.columns=['Word']
#tr2.columns=['Tag']
print(len(tr1))
Train = pd.concat([tr1,tr2],axis=1)
print(Train)
#Train.to_csv("Train dataset.csv",index=False)

520239
               Word Tag
258353    জ্যোৎস্না   O
619579        খেলতে   O
254956        বন্ধু   O
629127         একটি   O
470503       মৃতদেহ   O
...             ...  ..
511496          খুব   O
185646       মুখস্ত   O
195159         আড়াল   O
461769  শুনিয়াছিলাম   O
386913     বেরুবেন‌   O

[520239 rows x 2 columns]

In [4]:
val1  = pd.DataFrame(X_valid)
val2 = pd.DataFrame(y_valid)
val1.columns=['Word']
val2.columns=['Tag']
print(len(val1))
valid = pd.concat([val1,val2],axis=1)
print(valid)
valid.to_csv("Valid dataset.csv",index=False)

65030
            Word    Tag
279311        আজ  B-TIM
593189  পঁয়ত্রিশ  B-TIM
441167      খেলা      O
89795          ,      O
435527     নিজের      O
...          ...    ...
283670         “      O
561616       দেয়      O
405072         ,      O
408109         ;      O
203376      ভুবন      O

[65030 rows x 2 columns]

In [5]:
ts1  = pd.DataFrame(X_test)
ts2 = pd.DataFrame(y_test)
ts1.columns=['Word']
ts2.columns=['Tag']
print(len(ts1))
test = pd.concat([ts1,ts2],axis=1)
print(test)
test.to_csv('Test dataset.csv',index=False)

65030
              Word Tag
516368     আগন্তুক   O
580633  আর্তবিহ্বল   O
346710  প্ৰাণবায়ু   O
349459           ,   O
243359         যায়   O
...            ...  ..
554244        লাঠি   O
327252       আহুতি   O
77640            ,   O
424535        যেতে   O
220809           ?   O

[65030 rows x 2 columns]